# Frontend
frontend/node_modules/
frontend/dist/

# Backend
backend/bin/
backend/obj/

# VS Code
.vscode/

# Rider
.idea/

# Logs
*.log

# Local settings
.env
.env.local

# Uploads
uploads/

# OS
.DS_Store
Thumbs.db